#theminimal-blog-posts {

    .theminimal-single-post {
        display: flex;
        align-items: baseline;

        .theminimal-post-thumbnail {
            margin: $thumbnail-margin;

            .no-thumbnail a img {
                @include thumbnail-size($thumb-width, $thumb-heigth);
            }
        }
        
        .theminimal-post-title {
            margin-bottom: $min-margin;
        }
        
        .post-term {
            font-size: $secondary-size;
            font-weight: $thin;
        }
        
        .theminimal-read-more {
            font-size: $secondary-size;
            color: $second-font-color;
        }
    }

    .theminimal-separator {
        width: 30%;
        margin: 35px auto 0;
    }
}

