header#theminimal-header {
    background-color: $nav-background;
    height: $navbar-height;
    display: flex;
    align-items: center;
    transition: 0.2s;
    z-index: 1000;
    position: relative;

    &.scrolled {
        height: $nav-scrolled-heigth;
        font-size: $nav-scrolled-font;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .theminimal-mobile-menu {
        position: absolute;
        width: 100%;
        background-color: rgb(248, 249, 250);
        top: 110%;
        right: 110%;
        padding-top: $min-margin;
        display: none;

        &.active {
            display: block;
            right: 0%;
        }

        ul {
            list-style-type: none;
            color: $first-font-color;

            li {
                margin-bottom: $min-margin;
            }
        }
    }


    .navbar-collapse {

        &.scrolled {
            justify-content: center;
        }

        .nav-item {
            margin-left: 10px;

            &.dropdown {
            position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 2px;
                    left: 8px;
                    width: 50%;
                    border-bottom: 0.5px solid $submenu-border-color;
                }

                .dropdown-toggle::after {
                    display: none;
                }

                .dropdown-menu {
                    background-color: $submenu-background-color;
                    border: none;
                    border-radius: 0;
                    font-size: $dropdown-size;
                    left: 8px;

                    .dropdown-item {

                        &:hover {
                            background-color: $submenu-background-color-hover;
                            color: $submenu-font-color-hover;
                        }
                    }
                }
            }

            .nav-link {
                &:hover {
                    color: $menu-color-hover;
                }

                &.current {
                    color: $menu-color-active;
                    font-weight: $normal;
                }

                &.dropdown-hover {
                    color: $menu-color-hover;
                }
            }
        }
    }
}
