.clearfix {
    content: '';
    display: table;
    clear: both;
}

h1 {
    font-size: $h1-size;
    margin-bottom: $min-margin;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h4 {
    font-size: $h4-size;
}

h2, h3, h4 {
    margin-bottom: $min-margin;
}

.container-fluid {
    width: $container-width;
}

.page-margin {
    margin: $page-default-margin;
}

.theminimal-post-margin {
    margin: $post-default-margin;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        color: $second-font-color
    }

    &[rel="prev"], &[rel="next"] {
        font-size: 14px;
        border: 1px solid $second-color;
        padding: $min-padding;
        
        &:hover {
            background-color: $second-color-transparent;
        }
    }
}

.prev-next {
    display: flex;
    justify-content: space-between;
}

