//Sizes
$h1-size: 42px;
$h2-size: 36px;
$h3-size: 32px;
$h4-size: 28px;

//Colors
$first-font-color: #000000;
$second-font-color: #666666;
$first-color: #000000;
$second-color: #666666;
$second-color-transparent: rgba(102, 102, 102, 0.2);

$menu-color-active: rgba(0,0,0,.9);
$menu-color-hover: $menu-color-active;
$submenu-border-color: rgb(179, 179, 179);
$submenu-background-color: rgba(179, 179, 179, 0.3);
$submenu-background-color-hover: rgba(179, 179, 179, 0.8);
$submenu-font-color-hover: #FFFFFF;

$buttons-font-color: #FFFFFF;
$buttons-hover-font-color: #000000;
$caption-font-color: rgba(102, 102, 102, 0.5);

$hr-color: rgba(102, 102, 102, 0.8);

$nav-background: #F8F9FA;

//Margins
$min-margin: 10px;
$mid-margin: 50px;

$page-default-margin: 35px auto 65px;
$post-default-margin: 50px auto 50px;
$thumbnail-margin: 0 0 15px 0;
$blockquote-margin: 15px 0 15px 0;

//Paddings
$min-padding: 5px 3px;
$regular-padding: 10px 8px;

//Font size
$secondary-size: 14px;

//Font
$thin: 300;
$normal: 400;
$bold: 600;
$bolder: 800;

$regular-size: 16px;
$dropdown-size: 14px;

//Width
$container-width: 85%;

//Heights
$navbar-height: 65px;

//Thumbnails 
$thumb-width: 350px;
$thumb-heigth: 350px;

//Nav on scroll
$nav-scrolled-heigth: 50px;
$nav-scrolled-font: 14px;

//Media queries
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$large-breakpoint: 1200px;