//Colors
$first-font-color: #000000;
$second-font-color: #666666;

$nav-background: #F8F9FA;

//Margins
$min-margin: 10px;
$mid-margin: 50px;

$page-default-margin: 35px 0 65px;
$thumbnail-margin: 0 150px 15px 0;

//Font size
$secondary-size: 14px;

//Font weigth
$light-weigth: 300;

//Width
$container-width: 85%;

//Heights
$navbar-height: 65px;

//Thumbnail size
$thumbnail-width: 350px;
$thumbnail-heigth: 350px;